<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="card">
  <div class="card-body">
    <form [formGroup]="form" class="form-horizontal form-material m-b-10" id="form">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="">formOption</label>
          <select class="form-control custom-select" id="formOption" formControlName="formOption" name="formOption"
            [ngClass]="{'has-error': (hasError && form.controls['formOption'].errors) || (form.controls['formOption'].errors && (form.controls['formOption'].dirty || form.controls['formOption'].touched))}">
            <option selected value="undefined"> Select</option>
            <option selected value="GET"> GET</option>
            <option selected value="ADD"> ADD</option>
            <!-- <option *ngFor="let type of formOptionsList" [value]=type.docID>
              {{type.doc_description}}
            </option> -->
          </select>
          <div class="has-error"
            *ngIf="(hasError && form.controls['formOption'].errors) || (form.controls['formOption'].errors && (form.controls['formOption'].dirty || form.controls['formOption'].touched))">
            <span *ngIf="form.controls['formOption'].errors.required">required field</span>
          </div>
        </div>
      </div>
    </form>
    <div class="row" *ngIf="this.form.get('formOption').value==='GET'" style="justify-content:center;">
      <div class="col-md-12 mb-3 " style="justify-content:center;">
        <div class="card card-inverse card-info menu-cards">
          <div class="card-header">
            Get Data
          </div>
          <div class="card-body">
            <p>Click on button to show data.</p>
            <div class="row">
              <div class="col-md-12 mb-4 " style="justify-content:center;">
                <button type="button" class="btn btn-primary-comfandi" (click)="getData()">getData</button>
              </div>
            </div>
            <p *ngIf="showData">{{data | json }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="this.form.get('formOption').value==='ADD'" style="justify-content:center;">
      <div class="col-md-12 mb-3 " style="justify-content:center;">
        <div class="card card-inverse card-info menu-cards">
          <div class="card-header">
            ADD Data
          </div>
          <div class="card-body">
            <p>Click on button to show ADD data.</p>
            <form [formGroup]="addForm" class="form-horizontal form-material m-b-10" id="addForm">
              <div class="form-group">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <label for="name" class="colorTitle">Name</label>
                      <input type="text" formControlName="name" class="form-control" id="name" name="name"
                        placeholder="Enter a property name"
                        [ngClass]="{'has-error': (hasError && addForm.controls['name'].errors) || (addForm.controls['name'].errors && (addForm.controls['name'].dirty || addForm.controls['name'].touched))}" />
                      <div class="has-error"
                        *ngIf="(hasError && addForm.controls['name'].errors) || (addForm.controls['name'].errors && (addForm.controls['name'].dirty || addForm.controls['name'].touched))">
                        <span *ngIf="addForm.controls['name'].errors.required">required field</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <label for="value" class="colorTitle">Value</label>
                      <input type="text" formControlName="value" class="form-control" id="value" name="value"
                        placeholder="Enter a property value"
                        [ngClass]="{'has-error': (hasError && addForm.controls['value'].errors) || (addForm.controls['value'].errors && (addForm.controls['value'].dirty || addForm.controls['value'].touched))}" />
                      <div class="has-error"
                        *ngIf="(hasError && addForm.controls['value'].errors) || (addForm.controls['value'].errors && (addForm.controls['value'].dirty || addForm.controls['value'].touched))">
                        <span *ngIf="addForm.controls['value'].errors.required">required field</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12 mt-3 mb-3" style="justify-content:center;">
              <button type="button" class="btn btn-primary-comfandi" (click)="addData()">addData</button>
              <p class="mt-3" *ngIf="showData">{{data | json }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>