<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="card">
  <div class="card-body">

    <div class="row mb-3">
      <div class="col-4">
        <div class="card card-inverse card-info menu-cards">
          <form [formGroup]="form" class="form-horizontal form-material m-b-10" id="form">
            <div class="form-group">
              <div class="col-12">
                <label for="">Select action</label>
                <select class="form-control custom-select" id="formOption" formControlName="formOption"
                  name="formOption"
                  [ngClass]="{'has-error': (hasError && form.controls['formOption'].errors) || (form.controls['formOption'].errors && (form.controls['formOption'].dirty || form.controls['formOption'].touched))}">
                  <option selected disabled value="undefined"> SELECT</option>
                  <option *ngFor="let item of optionSelectList" [value]=item.desc>
                    {{item.desc}}
                  </option>
                </select>
                <div class="has-error"
                  *ngIf="(hasError && form.controls['formOption'].errors) || (form.controls['formOption'].errors && (form.controls['formOption'].dirty || form.controls['formOption'].touched))">
                  <span *ngIf="form.controls['formOption'].errors.required">required field</span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.get('formOption').value==='GET'">
      <div class="col-8 mb-3">
        <div class="card card-inverse card-info menu-cards card-get">
          <div class="card-header card-get">
            <span class="span-simpleCrud span-get">GET</span> Get Data
          </div>
          <div class="card-body">
            <p>Click on button to show data.</p>
            <div class="row">
              <div class="col-md-12 mb-4 " style="justify-content:center;">
                <button type="button" class="btn btn-outline-info" (click)="getData()">Get Data</button>
              </div>
            </div>
            <pre *ngIf="showData">{{data | json }}</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.get('formOption').value==='ADD'">
      <div class="col-8 mb-3">
        <div class="card card-inverse card-info menu-cards card-post">
          <div class="card-header card-post">
            <span class="span-simpleCrud span-post">POST</span> ADD Data
          </div>
          <div class="card-body">
            <p>Click on button to ADD data.</p>
            <form [formGroup]="addForm" class="form-horizontal form-material m-b-10" id="addForm">
              <div class="form-group">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <label for="name" class="colorTitle">Name</label>
                      <input type="text" formControlName="name" class="form-control" id="name" name="name"
                        placeholder="Enter a property name"
                        [ngClass]="{'has-error': (hasError && addForm.controls['name'].errors) || (addForm.controls['name'].errors && (addForm.controls['name'].dirty || addForm.controls['name'].touched))}" />
                      <div class="has-error"
                        *ngIf="(hasError && addForm.controls['name'].errors) || (addForm.controls['name'].errors && (addForm.controls['name'].dirty || addForm.controls['name'].touched))">
                        <span *ngIf="addForm.controls['name'].errors.required">required field</span>
                      </div>
                    </div>
                    <div class="col-4">
                      <label for="value" class="colorTitle">Value</label>
                      <input type="text" formControlName="value" class="form-control" id="value" name="value"
                        placeholder="Enter a property value"
                        [ngClass]="{'has-error': (hasError && addForm.controls['value'].errors) || (addForm.controls['value'].errors && (addForm.controls['value'].dirty || addForm.controls['value'].touched))}" />
                      <div class="has-error"
                        *ngIf="(hasError && addForm.controls['value'].errors) || (addForm.controls['value'].errors && (addForm.controls['value'].dirty || addForm.controls['value'].touched))">
                        <span *ngIf="addForm.controls['value'].errors.required">required field</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="alreadyExistsError">
                    <div class="col-12 has-error">
                      <span> <strong>The property <i>{{propertyName}}</i> already exists in the current data. If you
                          want to edit it select the action UPDATE</strong></span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12 mt-3 mb-3" style="justify-content:center;">
              <button type="button" class="btn btn-outline-success" (click)="addData()">Add data</button>
              <pre class="mt-3" *ngIf="showData">{{data | json }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.get('formOption').value==='UPDATE'">
      <div class="col-8 mb-3">
        <div class="card card-inverse card-info menu-cards card-put">
          <div class="card-header card-put">
            <span class="span-simpleCrud span-put">PUT</span> UPDATE Data
          </div>
          <div class="card-body">
            <p>Click on button to UPDATE data.</p>
            <form [formGroup]="updateForm" class="form-horizontal form-material m-b-10" id="updateForm">
              <div class="form-group">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <select class="form-control custom-select" id="selectField" formControlName="selectField"
                        name="selectField"
                        [ngClass]="{'has-error': (hasError && updateForm.controls['selectField'].errors) || (updateForm.controls['selectField'].errors && (updateForm.controls['selectField'].dirty || updateForm.controls['selectField'].touched))}">
                        <option selected disabled value="undefined"> Select the option to edit</option>
                        <option selected value="name"> Edit property name</option>
                        <option selected value="value"> Edit property value</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div *ngIf="updateForm.get('selectField').value !== undefined">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 mt-3">
                        <label for="sampleField" class="colorTitle">Current data: </label>
                        <pre>{{data|json}}</pre>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <label for="name" class="colorTitle">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" name="name"
                          placeholder="Enter a property name"
                          [ngClass]="{'has-error': (hasError && updateForm.controls['name'].errors) || (updateForm.controls['name'].errors && (updateForm.controls['name'].dirty || updateForm.controls['name'].touched))}" />
                        <div class="has-error"
                          *ngIf="(hasError && updateForm.controls['name'].errors) || (updateForm.controls['name'].errors && (updateForm.controls['name'].dirty || updateForm.controls['name'].touched))">
                          <span *ngIf="updateForm.controls['name'].errors.required">required field</span>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="updateForm.get('selectField').value === 'value'">
                        <label for="value" class="colorTitle">Value</label>
                        <input type="text" formControlName="value" class="form-control" id="value" name="value"
                          placeholder="Enter a property value"
                          [ngClass]="{'has-error': (hasError && updateForm.controls['value'].errors) || (updateForm.controls['value'].errors && (updateForm.controls['value'].dirty || updateForm.controls['value'].touched))}" />
                        <div class="has-error"
                          *ngIf="(hasError && updateForm.controls['value'].errors) || (updateForm.controls['value'].errors && (updateForm.controls['value'].dirty || updateForm.controls['value'].touched))">
                          <span *ngIf="updateForm.controls['value'].errors.required">required field</span>
                        </div>
                      </div>
                      <div class="col-4" *ngIf="updateForm.get('selectField').value === 'name'">
                        <label for="newName" class="colorTitle">New property name</label>
                        <input type="text" formControlName="newName" class="form-control" id="newName" name="newName"
                          placeholder="Enter new property name"
                          [ngClass]="{'has-error': (hasError && updateForm.controls['newName'].errors) || (updateForm.controls['newName'].errors && (updateForm.controls['newName'].dirty || updateForm.controls['newName'].touched))}" />
                        <div class="has-error"
                          *ngIf="(hasError && updateForm.controls['newName'].errors) || (updateForm.controls['newName'].errors && (updateForm.controls['newName'].dirty || updateForm.controls['newName'].touched))">
                          <span *ngIf="updateForm.controls['newName'].errors.required">required field</span>
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="updateError">
                      <div class="col-12 has-error" *ngIf="!noPropertyError">
                        <span> <strong>A property with name <i>{{propertyName}}</i> already exists in the current data. You need to edit or delete it first.</strong></span>
                      </div>
                      <div class="col-12 has-error" *ngIf="noPropertyError">
                        <span> <strong>The property <i>{{propertyName}}</i> doesn't exist in the current data. If you want to create it select the action ADD</strong></span>
                      </div>
                    </div>
                    <div class="row" *ngIf="succesUpdate">
                      <div class="col-12 has-success">
                        <span> The property <i>{{propertyName}}</i> has been successfully updated</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12 mt-3 mb-3" style="justify-content:center;">
              <button type="button" class="btn btn-outline-warning" (click)="updateData()">Update Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="this.form.get('formOption').value==='DELETE'">
      <div class="col-8 mb-3">
        <div class="card card-inverse card-info menu-cards card-delete">
          <div class="card-header card-delete">
            <span class="span-simpleCrud span-delete">DELETE</span> DELETE Data
          </div>
          <div class="card-body">
            <p>Click on button to DELETE data.</p>
            <form [formGroup]="deleteForm" class="form-horizontal form-material m-b-10" id="deleteForm">
              <div class="form-group">
                <div class="col-12">
                  <div class="row">
                    <div class="col-6">
                      <label for="sampleField" class="colorTitle">Current data: </label>
                      <pre>{{data|json}}</pre>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <label for="name" class="colorTitle">Name</label>
                      <input type="text" formControlName="name" class="form-control" id="name" name="name"
                        placeholder="Enter a property name"
                        [ngClass]="{'has-error': (hasError && deleteForm.controls['name'].errors) || (deleteForm.controls['name'].errors && (deleteForm.controls['name'].dirty || deleteForm.controls['name'].touched))}" />
                      <div class="has-error"
                        *ngIf="(hasError && deleteForm.controls['name'].errors) || (deleteForm.controls['name'].errors && (deleteForm.controls['name'].dirty || deleteForm.controls['name'].touched))">
                        <span *ngIf="deleteForm.controls['name'].errors.required">required field</span>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="noPropertyDeleteError">
                    <div class="col-12 has-error">
                      <span> <strong>The property <i>{{propertyName}}</i> doen't exists in the current data. If you want
                          to add it select the action ADD</strong></span>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="col-md-12 mt-3 mb-3" style="justify-content:center;">
              <button type="button" class="btn btn-outline-danger" (click)="deleteData()">Delete Data</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>